$phone: "only screen and (max-width:768px)";

.row { max-width:1000px; margin:0 auto; padding:0 10px; }

.joinPage {
    .joinBox { padding-top:80px; padding-bottom:80px;
        p { line-height:1.5em }
        h2 { font-size:30px; padding:40px 0 }
        .btn { text-align:center; 
            button { width:100px; height:40px;  
                border:none; background: #ccc; 
                margin:30px 10px; border-radius:8px;  
                color:#000; font-size:20px; 
                cursor:pointer;
                &[type='submit'] { background: none; border: 1px solid #ccc; }
            }
        }


        form { 
            h3 { font-size:18px; padding:20px 0 }
            table { margin-bottom:30px;
                col:nth-child(1) { width:20%; background:#eee;
                    @media #{$phone} { display:none   }
                }
                col:nth-child(2) { width:80%; 
                    @media #{$phone} { width:100%   }
                }
                th { border:1px solid #ddd;
                    padding:10px; text-align:left; 
                    vertical-align:middle;
                    @media #{$phone} { display:none   }
                }
                td { border:1px solid #ddd;
                    padding:10px; text-align:left; 
                    vertical-align:middle; }
                input[type='checkbox'],
                input[type='radio'],
                input[type='checkbox'] + label,
                input[type='radio'] + label { vertical-align:middle }
                    
                label { margin-right:10px  }    
                input[type='text'],
                input[type='password'],
                select { height:30px; border:1px solid #ddd; 
                    text-indent:1em; vertical-align:middle }   
                select { text-indent:0em; }       
                textarea { 
                    width:80%; height:100px; 
                    border:1px solid #ddd; 
                    padding:10px; 
                }
                #idbox,#pwbox,#pwboxok,#irum,#emailid,#emaildomain { width:200px;
                    @media #{$phone} { width:100%   }
                }  
                #zipcode, #hp1, #hp2, #birth { width:100px }
                #addr1,#addr2,#addr3 { width:35%}
                #zipcode + button { 
                    height:30px; 
                    vertical-align:middle;
                    background:gray; border-radius:5px; 
                    border:none; padding:0 5px; color:#fff;   
                }
                
                
            }

            .agree { background:#eee; padding:20px; 
                &>div { background:#fff;
                    height:100px; 
                    overflow-y:auto;
                    line-height:1.5; padding:10px; 
                    margin-bottom:10px; 
                }
                input { margin-left:10px; }
                span, input, label { vertical-align:middle} 
            }
            
          
    }
}
}