@charset "utf-8";

body {
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/77254_27169_036.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}
#login {
    * { margin:0; padding:0; box-sizing:border-box; outline:none; }
    a { color:inherit; text-decoration:none; }
    input { border: none; }

    .loginbox { 
        width: 500px;
        margin: 200px auto; padding: 40px 40px;
        background: rgba(255, 255, 255, 0.33);
        border-radius: 20px;
        border: 1px solid rgb(128, 225, 30);
        h2 { 
            font-size: 28px; text-align: center; padding: 10px; 
            color: #fff;
            font-weight: bold;
            font-size: 35px;
        }
        .idpw {
            font-size: 14px;
            border: 1px solid rgb(128, 225, 30);
            margin-top: 10px;
            border-radius: 5px;
            background: #fff;
            input {
                width: 100%;
                padding: 16px 20px;
                border-radius: 5px;
                font-size: 15px;
            }
        }
        .box2 { 
            display: flex; margin-top: 10px;
            justify-content: flex-end;
            .loginok {
                background: #fff;
                padding: 2px 10px;
                border-radius: 5px;
            }
        }
    
        button[type="submit"] {
            border: 1px solid rgb(128, 225, 30);
            background: none;
            width: 100%; height: 50px;
            border-radius: 5px;
            margin: 30px 0 10px 0;
            cursor: pointer;
            background: #fff;
        }
    
        .atext {
            text-align: center;
            margin-top: 20px;
            a {
                padding: 0 5px;
            }
        }
    }
    
    @media screen and (max-width: 510px) {
    
        .loginbox { 
            width: 90%;
            margin: 300px auto; padding: 20px 20px;
            background: rgba(255, 255, 255, 0.33);
            border-radius: 20px;
            border: 1px solid rgb(128, 225, 30);
            .idpw {
                font-size: 14px;
                border: 1px solid rgb(128, 225, 30);
                margin-top: 8px;
                background: #fff;
                input {
                    width: 100%;
                    padding: 14px 14px;
                    border-radius: 5px;
                }
            }
            .box2 { 
                display: flex; margin-top: 6px;
                justify-content: flex-end;
                .loginok {
                    font-size: 14px;
                    background: #fff;
                    padding: 2px 10px;
                    border-radius: 5px;
                }
            }
            button[type="submit"] {
                border: 1px solid rgb(128, 225, 30);
                background: none;
                width: 100%; height: 45px;
                border-radius: 5px;
                margin: 30px 0 0 0;
                cursor: pointer;
                background: #fff;
            }
    
            .atext {
                font-size: 14px;
                word-break:keep-all;
                text-align: center;
                margin-top: 10px;
                a {
                    padding: 0 5px;
                    display: block;
                    padding-top: 5px;
                }
            }
        }
    }
}