@charset "utf-8";

* { margin:0; padding:0; box-sizing:border-box; outline:none; }
a { color:inherit; text-decoration:none; }

body {
    background: rgba(30, 147, 225, 0.3);
}
#record {
    width: 450px;
    margin: 100px auto;
    border: 1px solid rgb(30, 147, 225);
    border-radius: 10px;
    background: #fff;
}
#record > h2 {
    font-size: 28px;
    padding: 25px 0 10px 15px;
    background: rgb(0, 135, 224);
    border-radius: 8px 8px 0 0;
    color: #fff;
}
#record .hd{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 0px 0px;
    border-bottom: 1px solid rgb(30, 147, 225);
}
#record .hd > div {
    padding: 5px 5px 0px 0px;
}
#record .hd > h3 {
    font-size: 22px;
    padding: 5px;
    padding-bottom: 15px;
}

#record .cord > div {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgb(30, 147, 225);
    text-align: center;
    background-color: #fff;
}
#record .re {
    margin-bottom: 20px;
}

@media screen and (max-width: 460px) {
    #record {
        width: 300px;
        margin: 100px auto;
        border: 1px solid rgb(30, 147, 225);
        border-radius: 10px;
        background: #fff;
    }
    #record .btn > a {
        text-align: center;
        background: #fff;
        padding: 5px 110px 10px 110px;
        border-radius: 0 0 10px 10px;
    }
}