@charset "utf-8";

* { margin:0; padding:0; box-sizing:border-box; outline:none; }
a { color:inherit; text-decoration:none; }
input { border: none; }
ul { list-style: none; }

body {
    background: rgba(30, 147, 225, 0.3);
}
#star {
    width: 450px;
    margin: 100px auto;
    border: 1px solid rgb(30, 147, 225);
    border-radius: 10px;
    background: #fff;
}
#star > h2 {
    font-size: 28px;
    padding: 25px 0 10px 15px;
    background: rgb(30, 147, 225);
    border-radius: 8px 8px 0 0;
    color: #fff;
}
#star .hd{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 0px 0px;
}
#star .hd > div {
    padding: 5px 5px 0px 0px;
}
#star .hd > h3 {
    font-size: 22px;
    padding: 5px;
}

#star > form {
    margin-top: 10px;
    display: flex;
    height: 50px;
    font-size: 14px;
}
#star > form > input {
    flex: 1;
    padding-left: 20px;
    border: 1px solid rgb(30, 147, 225);
    border-left: none;
    border-right: none;
    font-size: 15px;
}
#star > form > button {
    border: none;
    background: none;
    padding: 0 20px;
    cursor: pointer;
    background: rgb(30, 147, 225);
    color: #fff;
    font-size: 14px;
}
#star > form > button:hover {
    background: rgb(184, 207, 223);
}

#star .itext {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
#star .itext > li {
    display: flex;
}
#star .itext > li > input {
    flex: 1;
    padding: 10px 20px;
    background: none;
    border-bottom: 1px solid rgb(30, 147, 225);
    background-color: #fff;
}
#star .itext > li > button {
    border: none;
    padding: 0 20px;
    cursor: pointer;
    background: rgb(30, 147, 225);
    font-size: 14px;
    color: #fff;
}
#star .itext > li > button:hover {
    background: rgb(184, 207, 223);
}

#star .starlist {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
#star .starlist > li {
    display: flex;
}
#star .starlist > li > div {
    flex: 1;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(30, 147, 225);
    background-color: #fff;
    font-size: 13px;
}
#star .starlist > li > button {
    border: none;
    padding: 0 20px;
    cursor: pointer;
    background: rgb(30, 147, 225);
    font-size: 14px;
    color: #fff;
}
#star .starlist > li > button:hover {
    background: rgb(184, 207, 223);
}

#star .btn {
    text-align: center;
    margin-top: 10px;
    padding: 5px 5px 10px 5px;
    border-top: 1px solid rgb(30, 147, 225);
    background: #fff;
    border-radius: 0 0 10px 10px;
}
#star .btn:hover {
    background: rgb(184, 207, 223);
}
#star .btn > a {
    text-align: center;
    padding: 5px 185px 10px 185px;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 460px) {
    #star {
        width: 300px;
        margin: 100px auto;
        border: 1px solid rgb(30, 147, 225);
        border-radius: 10px;
        background: #fff;
    }
    #star > form {
        margin-top: 10px;
        display: flex;
        height: 40px;
        font-size: 14px;
    }
    #star .btn > a {
        text-align: center;
        border-radius: 0 0 10px 10px;
    }
}